<header>
  <div class="container-fluid">
    <div class="row">
      <a id="top"></a>
      <div class="col-sm-12">
        <h1>PivotHelper</h1>
        <p>
          <strong>PivotHelper</strong> is a utility web app that generates Pivot tables and charts from CSV files and
          <a href="https://products.office.com/en/excel" target="_blank">Microsoft Excel</a> spreadsheets.
        </p>
      </div>
    </div>
  </div>
</header>
<hr>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
<hr>
<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        &copy; <a href="https://bjoernkw.com" title="Björn Wilmsmann">Björn Wilmsmann</a>
        {{ currentYear }} | <a href="https://github.com/BjoernKW/PivotHelper" title="PivotHelper"><em>PivotHelper</em> GitHub repository</a>
      </div>
    </div>
  </div>
</footer>
