<form>
  <div class="row">
    <div class="col-sm-6 custom-file-input-column">
      <div class="form-group">
        <input type="file" class="custom-file-input" id="inputFile" (change)="onFileChange($event)">
        <label class="custom-file-label" for="inputFile">Choose CSV (.csv) or Excel (.xls, xlsx) file</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <strong>
        Sample files
        <small>(files will be downloaded and afterwards can be dragged and dropped to the file input above)</small>:
      </strong>
      <ul>
        <li>
          <a href="https://researchbriefings.files.parliament.uk/documents/CBP-7186/hocl-ge2015-results-summary.csv">UK General Election 2015 Results (.csv)</a>
        </li>
        <li>
          <a href="https://obamawhitehouse.archives.gov/sites/default/files/omb/budget/fy2014/assets/receipts.xls">OMB FY 2014 Federal Receipts (.xls)</a>
        </li>
      </ul>
    </div>
  </div>

  <div *ngIf="outputData && outputData.length > 0">
    <hr>
    <div class="row">
      <div class="col-sm-6">
        <button type="button"
                class="btn btn-primary"
                (click)="export()"
                title="Export table as Microsoft Excel (.xlsx) file">
          Export table as Microsoft Excel (.xlsx) file
        </button>
        &nbsp;
        <a class="btn btn-success" href="#pivot-table-buttons">Go to pivot table</a>
      </div>
    </div>
    <br>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <p-progressSpinner *ngIf="!outputData || outputData.length === 0"></p-progressSpinner>
      <p-table
        #dataTable
        selectionMode="multiple"
        [(selection)]="selectedRows"
        [columns]="columns"
        [value]="outputData"
        [resizableColumns]="true"
        (onRowSelect)="onRowSelectionChanged()"
        (onRowUnselect)="onRowSelectionChanged()"
        (onFilter)="onFilterChanged($event)">
        <ng-template
          pTemplate="header"
          let-columns>
          <tr>
            <th *ngFor="let column of columns"
                pResizableColumn
                [pSortableColumn]="column.field">
              {{ column.header }}
              <p-sortIcon [field]="column.field"
                          ariaLabel="Activate to sort"
                          ariaLabelDesc="Activate to sort in descending order"
                          ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
            </th>
          </tr>
          <tr>
            <th *ngFor="let column of columns">
              <input pInputText
                     class="form-control"
                     type="text"
                     (input)="dataTable.filter($event.target.value, column.field, 'contains')">
            </th>
          </tr>
        </ng-template>
        <ng-template
          pTemplate="body"
          let-row
          let-rowIndex="rowIndex">
          <tr
            [pSelectableRow]="row"
            [pSelectableRowIndex]="rowIndex">
            <td *ngFor="let column of columns">
              {{ row[column.field] }}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <div *ngIf="outputData && outputData.length > 0"
       id="pivot-table-buttons">
    <br>
    <div class="row">
      <div class="col-sm-6">
        <button type="button"
                class="btn btn-primary"
                (click)="export()"
                title="Export table as Microsoft Excel (.xlsx) file">
          Export table as Microsoft Excel (.xlsx) file
        </button>
        &nbsp;
        <a class="btn btn-secondary" href="#top" title="Go to top">Go to top</a>
      </div>
    </div>
  </div>
</form>

<a name="pivot-table"></a>

<app-pivot-table *ngIf="outputData && outputData.length > 0"
                 [data]="selectedRows && selectedRows.length > 0 ? selectedRows : outputData"
                 [rows]="[]"
                 [columns]="[]"></app-pivot-table>
