.custom-file-input-column {
  margin-left: 15px;
}

.caption-filter-input {
  text-align: right;
}

#limit-elements {
  width: 80px;
}

#select-columns-label {
  vertical-align: top;
  margin-top: 7px;
}
