<form>
  <div class="row">
    <div class="col-md-6 custom-file-input-column">
      <div class="form-group">
        <input type="file" class="custom-file-input" id="inputFile" (change)="onFileChange($event)">
        <label class="custom-file-label" for="inputFile">Choose file</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p-table
        #dataTable
        selectionMode="multiple"
        [(selection)]="selectedRows"
        [columns]="columns"
        [value]="data"
        [resizableColumns]="true">
        <ng-template
          pTemplate="header"
          let-columns>
          <tr>
            <th *ngFor="let column of columns">
              {{ column }}
            </th>
          </tr>
          <tr>
            <th *ngFor="let column of columns; let i = index">
              <input pInputText
                     class="form-control"
                     type="text"
                     (input)="dataTable.filter($event.target.value, i, 'contains')">
            </th>
          </tr>
        </ng-template>
        <ng-template
          pTemplate="body"
          let-row
          let-rowIndex="rowIndex">
          <tr
            [pSelectableRow]="row"
            [pSelectableRowIndex]="rowIndex">
            <td *ngFor="let column of row">
              {{ column }}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6">
      <button class="btn btn-primary" (click)="export()">Export</button>
    </div>
  </div>
</form>
